<p>Before you can accept please read the {{ config.lua.serverName }} Service Agreement and state if you agree to it by clicking on the appropriate button below.</p>
		<div class="TableContainer" >
			<table class="Table1" cellpadding="0" cellspacing="0">
				<div class="CaptionContainer" >
					<div class="CaptionInnerContainer" >
						<span class="CaptionEdgeLeftTop" style="background-image:url(images/plugins/pagseguro-page/global/content/box-frame-edge.gif);" /></span>
						<span class="CaptionEdgeRightTop" style="background-image:url(images/plugins/pagseguro-page/global/content/box-frame-edge.gif);" /></span>
						<span class="CaptionBorderTop" style="background-image:url(images/plugins/pagseguro-page/global/content/table-headline-border.gif);" ></span>
						<span class="CaptionVerticalLeft" style="background-image:url(images/plugins/pagseguro-page/global/content/box-frame-vertical.gif);" /></span>
						<div class="Text" >{{ config.lua.serverName }} Service Agreement</div>
						<span class="CaptionVerticalRight" style="background-image:url(images/plugins/pagseguro-page/global/content/box-frame-vertical.gif);" /></span>
						<span class="CaptionBorderBottom" style="background-image:url(images/plugins/pagseguro-page/global/content/table-headline-border.gif);" ></span>
						<span class="CaptionEdgeLeftBottom" style="background-image:url(images/plugins/pagseguro-page/global/content/box-frame-edge.gif);" /></span>
						<span class="CaptionEdgeRightBottom" style="background-image:url(images/plugins/pagseguro-page/global/content/box-frame-edge.gif);" /></span>
					</div>
				</div>
				<tr>
					<td>
						<div class="InnerTableContainer" >
							<table style="width:100%;" >
								<p>We inform players and contributors that the <b>{{ config.lua.serverName }} Alternate Tibia Server</b> has no financial interest. All income obtained is directly reinvested in server maintenance - this means that by making a donation, you are ensuring stability and increasing its quality.</p>
								<p>The points given to players who make donations represent nothing more than our appreciation, that is, you are not buying points but receiving a symbolic gratification (in the form of points) that benefits you within the game; you can use your points however you wish.</p>
								<p>The spirit of this system is simple: with the aim of getting closer to the players and making you feel at home, we understand your donation as a two-way street in terms of credibility. By believing it is worth investing in server maintenance, we invest in you by crediting you with points, which as mentioned earlier, can be used as you see fit.</p>
								<b><font size="3">Rules:</font></b><br><br>
								<b>Item 1:</b> The Donor is aware that the donation cannot be refunded.<br>
								<b>Item 2:</b> Premium Points (virtual item) will be delivered within 24 hours to the donor's account.<br>
								<b>Item 3:</b> For every <b>1 BRL</b> donated, the player will receive <b>1 point</b>.<br>
								<b>Item 4:</b> The Donor is aware that they are not purchasing but donating, and as a form of gratitude, we will add Premium Points (virtual item) to the donor's account.<br><br>
								<hr>If you agree to the rules stated above, click <b>Agree</b>.
								<br><br>								
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<br/>
		<center>
			<form action="?subtopic=donate&step=accept" method="post" style="padding:0px;margin:0px;">
				<div class="BigButton" style="background-image:url(images/plugins/pagseguro-page/global/buttons/sbutton.gif)" >
					<div onMouseOver="MouseOverBigButton(this);" onMouseOut="MouseOutBigButton(this);" >
						<div onMouseOver="MouseOverBigButton(this);" onMouseOut="MouseOutBigButton(this);" ><div class="BigButtonOver" style="background-image:url(images/plugins/pagseguro-page/global/buttons/sbutton_over.gif);" ></div>
						<input class="ButtonText" type="image" name="I agree" alt="I agree" src="images/plugins/pagseguro-page/global/buttons/_sbutton_iagree.gif" >
					</div>
				</div>
			</form>
		</center>
